.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
button {
    background-color: #e8eaef;
    border: none;
    border-radius: 4px;
    font-size: 11pt;
    padding: 6px 14px;
    cursor: pointer;
}
button.primary {
    background-color: var(--accent);
    border: none;
    color: #fff;
}
button.secondary {
    background-color: #e8eaef;
}
button.tertiary {
    background-color: var(--secondary);
    border: none;
    color: #000;
}
button.copy {
    background-color: var(--secondary);
    border: none;
    color: #000;
    width: 32px;
    height: 22px;
    padding: 0;
}
button.copy span {
    font-size: 18px;
}