@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex-grow: 1;
    background-image: url('../img/landing-bg.jpg');
    background-color: rgba(29, 30, 34, 0.5);
    width: 100%;
}
main {
    width: 1000px;
    max-width: 100%;
    padding: 96px 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.reallybig {
    font-family: 'BBH Sans Bartle', 'Lato', sans-serif;
    font-size: 36pt;
    margin: 0;
}
.kindabig {
    font-size: 16pt;
    margin: 0;
}
#input {
    resize: none;
    width: 100%;
    height: 15vh;
}
footer {
    margin: 0;
}